body{
    background: #EFEFEF;
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-family: Ancizar Sans, sans-serif;
    font-size: x-large;
    color: #003B80;
    margin-right: 25%;
   

}




.boton_ajustes_negocio{
    background: #FFFFFF;
    color: #3A4E7A;
    font-size: large;
    background-image: url(Imagenes/llave_ajuste.png);
    background-size: contain;
    background-repeat: no-repeat;  
    width:450px;
    height:100px;
    padding-left: 25%;
    border-radius: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.boton_ajustes_negocio:hover{
    background:#3A4E7A;
    background-image: url(Imagenes/llave_invertido.png);
    background-size: contain;
    background-repeat: no-repeat;  
    color: #EFEFEF;
    margin-left: 50%;
    transform: translateX(-50%);
}

.boton_negocio_servicios{
    background: #FFFFFF;
    color: #3A4E7A;
    font-size: large;
    width:450px;
    height:100px;
    padding-left: 25%;
    background-image: url(Imagenes/servicios.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.boton_negocio_servicios:hover{
    background:#3A4E7A;
    background-image: url(Imagenes/servicios_invertido.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #EFEFEF;
    margin-left: 50%;
    transform: translateX(-50%);
}

.boton_negocio_horario{
    background: #FFFFFF;
    color: #3A4E7A;
    font-size: large;
    background-image: url(Imagenes/imagen_calendario.png);
    background-size: contain;
    background-repeat: no-repeat;  
    width:450px;
    height:100px;
    padding-left: 25%;
    border-radius: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.boton_negocio_horario:hover{
    background:#3A4E7A;
    background-image: url(Imagenes/imagen_calendario_invertido.png);
    background-size: contain;
    background-repeat: no-repeat;  
    color: #EFEFEF;
    margin-left: 50%;
    transform: translateX(-50%);
}



.boton_volver{

    height: 35px;
    width: 200px;
    background: #003B80;
    color: #EFEFEF;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

.boton_volver:hover{

    height: 35px;
    width: 200px;
    background: #3A4E7A;
    color: #EFEFEF;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    
}